/* CSS untuk kedua tugas */

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c1df89;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

input[type="number"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #214963;
}

button {
    padding: 12px 24px;
    margin: 5px;
    background-color: #EE7960;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

button:active {
    background-color: #1c639e;
}



.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#hasil {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: #2c3e50;
}

